<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="uv.listi.sicae.estacionamiento.repository.MovimientoRepository">

    <insert id="registrarEntrada" parameterType="uv.listi.sicae.estacionamiento.model.Movimiento" useGeneratedKeys="true" keyProperty="idMovimiento">
        INSERT INTO movimientos (claveUsuario, placa, tiempoEntrada, tarifaHora, idEspacio, tiempoCreacion)
        VALUES (#{claveUsuario}, #{placa}, #{tiempoEntrada}, #{tarifaHora}, #{idEspacio}, #{tiempoCreacion});
    </insert>

    <select id="buscarActivoPorPlacaYUsuario" resultType="uv.listi.sicae.estacionamiento.model.Movimiento">
        SELECT idMovimiento, claveUsuario, placa, tiempoEntrada, tiempoSalida, tarifaHora, idEspacio 
        FROM movimientos 
        WHERE placa = #{placa} AND claveUsuario = #{claveUsuario} AND tiempoSalida IS NULL 
        LIMIT 1;
    </select>

    <update id="registrarSalida" parameterType="uv.listi.sicae.estacionamiento.model.Movimiento">
        UPDATE movimientos 
        SET tiempoSalida = #{tiempoSalida}, 
            minutosEstacionado = #{minutosEstacionado}, 
            horasCobradas = #{horasCobradas}, 
            costoTotal = #{costoTotal},
            tiempoActualizacion = #{tiempoActualizacion}
        WHERE idMovimiento = #{idMovimiento};
    </update>
    
    <select id="contarVehiculosDentro" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM movimientos
        WHERE claveUsuario = #{claveUsuario}
          AND tiempoSalida IS NULL
    </select>

</mapper>