<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="uv.listi.sicae.usuarios.repository.UsuarioRepository">

    <insert id="registrarUsuario" parameterType="uv.listi.sicae.usuarios.model.Usuario" useGeneratedKeys="true" keyProperty="idUsuario">
        INSERT INTO "public"."usuario" 
        ("idRol", "idTipoUsuario", "idProgramaEducativo", "nombre", "apellidoPaterno", "username", "password", "email", "telefono", "claveUsuario", "estatus", "tiempoCreacion")
        VALUES 
        (#{idRol}, #{idTipoUsuario}, #{idProgramaEducativo}, #{nombre}, #{apellidoPaterno}, #{username}, #{password}, #{correo}, #{telefono}, #{claveUsuario}, CAST(CASE WHEN #{estatus} = 'activo' THEN 1 ELSE 0 END AS bit), #{tiempoCreacion});
    </insert>

    <update id="editarUsuario" parameterType="uv.listi.sicae.usuarios.model.Usuario">
        UPDATE "public"."usuario"
        SET "nombre" = #{nombre}, "apellidoPaterno" = #{apellidoPaterno}, "email" = #{correo}, "telefono" = #{telefono},
            "idRol" = #{idRol}, "idTipoUsuario" = #{idTipoUsuario}, "idProgramaEducativo" = #{idProgramaEducativo}, "tiempoActualizacion" = #{tiempoActualizacion}, "estatus" = CAST(CASE WHEN #{estatus} = 'activo' THEN 1 ELSE 0 END AS bit)
        WHERE "idUsuario" = #{idUsuario};
    </update>

    <select id="buscarPorId" resultType="uv.listi.sicae.usuarios.model.Usuario">
        SELECT "idUsuario", "nombre", "apellidoPaterno", "apellidoMaterno", 
               "claveUsuario", "username", "telefono", "idRol", 
               "idTipoUsuario", "idProgramaEducativo", "estatus", "tiempoCreacion",
               "tiempoActualizacion",
               "email" AS "correo" FROM "public"."usuario"
        WHERE "idUsuario" = #{idUsuario};
    </select>

    <select id="buscarPorUsuario" resultType="uv.listi.sicae.usuarios.model.Usuario">
        SELECT * FROM "public"."usuario" WHERE "username" = #{username};
    </select>

    <select id="buscarPorCorreo" resultType="uv.listi.sicae.usuarios.model.Usuario">
        SELECT * FROM "public"."usuario" WHERE "email" = #{correo};
    </select>

    <update id="actualizarEstatus">
        UPDATE "public"."usuario" SET "estatus" = CAST(CASE WHEN #{estatus} = 'activo' THEN 1 ELSE 0 END AS bit) WHERE "idUsuario" = #{idUsuario};
    </update>

    <update id="actualizarClaveUsuario">
        UPDATE "public"."usuario" SET "claveUsuario" = #{claveUsuario} WHERE "idUsuario" = #{idUsuario};
    </update>

    <select id="contarTotalUsuarios" resultType="int">
        SELECT COUNT(*) FROM "public"."usuario";
    </select>
    
    <select id="buscarPorClave" resultType="uv.listi.sicae.usuarios.model.Usuario">
        SELECT * FROM "public"."usuario" WHERE "claveUsuario" = #{claveUsuario};
    </select>

    <select id="verificarRolExistente" resultType="int">
        SELECT COUNT(1) 
        FROM "public"."rol" 
        WHERE "idrol" = #{idRol};
    </select>

    <select id="verificarTipoUsuarioExistente" resultType="int">
        SELECT COUNT(1) 
        FROM "public"."tipoUsuario" 
        WHERE "idTipo" = #{idTipoUsuario};
    </select>

    <select id="verificarProgramaExistente" resultType="int">
        SELECT COUNT(1) 
        FROM "public"."programaEducativo" 
        WHERE "idPrograma" = #{idProgramaEducativo};
    </select>

</mapper>